﻿
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/untitled.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body id="page-top" style="font-family: 'PT Sans', sans-serif;">
    <div id="wrapper">
        <nav class="navbar navbar-dark border rounded-0 align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 fixed" style="background: rgb(86,214,201);margin-left: -3px;">
            <div class="container-fluid d-flex flex-column p-0">
                <img class="rounded-circle img-fluid" src="{{ url_for('static',filename='free-pro-pic.jpeg')}}" width="150px" height="100px" style="padding-top: 0;margin-top: 50px;text-align: center;color: #feffb4;margin-bottom: 50px;border-radius: 0px;border: 16px solid #ffffff ;border-top-width: 10px;border-top-color: #5b618a;border-right-width: 10px;border-right-color: #5b618a;border-bottom-width: 10px;border-bottom-color: #ecffb0;border-left: 10px solid #ffa69e ;">
                <ul class="nav navbar-nav text-center text-light" id="accordionSidebar" style="text-align: center;">
                    <li class="nav-item"><a class="nav-link text-center" href="{{ url_for('home')}}" style="font-size: 33px;text-align: center;color: #ffffff;margin-bottom: 30px;font-weight: normal;font-family: Alatsi, sans-serif;background: #5b618a;">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-center active" href="{{ url_for('profile')}}" style="font-size: 33px;color: #ffffff;margin-bottom: 30px;font-family: Alatsi, sans-serif;font-weight: normal;background: #5b618a;">Profile</a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="{{ url_for('chat')}}" style="font-size: 33px;color: #ffffff;font-family: Alatsi, sans-serif;font-weight: normal;background: #5b618a;">Chat</a></li>
                </ul>
            </div>
        </nav>
        {%block body%}
        {%endblock%}
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>


</html>
