{%extends "layout.html"%}
{% block body %}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container" style="padding: 35px;font-family: 'PT Sans', sans-serif;">
            <h1 style="color: #fcad56;font-family: 'PT Sans', sans-serif;">Today</h1>
            <div class="row">
                <div class="col" style="border-style: none;">
                    <h2 style="font-family: 'PT Sans', sans-serif;color: #858796;">feelings</h2>
                </div>
                <div class="col">
                    <h2>activities</h2>
                </div>
                <div class="col">
                    <h3>points</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>list goes here</h2>
                </div>
                <div class="col">
                    <h2>list goes here</h2>
                </div>
                <div class="col">
                    <h3>circle</h3>
                </div>
            </div>
        </div>
        <div class="container" style="padding: 35px;font-family: 'PT Sans', sans-serif;">
            <h1 style="color: #fcad56;font-family: 'PT Sans', sans-serif;">This Week</h1>
            <div class="row">
                <div class="col">
                    <h2>feelings</h2>
                </div>
                <div class="col">
                    <h2>activities</h2>
                </div>
                <div class="col">
                    <h3>points</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>list goes here</h2>
                </div>
                <div class="col">
                    <h2>list goes here</h2>
                </div>
                <div class="col">
                    <h3>circle</h3>
                </div>
            </div>
        </div>
        <div class="container" style="padding: 35px;">
            <h1>Trends</h1>
            <div><canvas data-bs-chart="{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;January&quot;,&quot;February&quot;,&quot;March&quot;,&quot;April&quot;,&quot;May&quot;,&quot;June&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Revenue&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;4500&quot;,&quot;5300&quot;,&quot;6250&quot;,&quot;7800&quot;,&quot;9800&quot;,&quot;15000&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}"></canvas></div>
        </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Andreya Augst 2020</span></div>
        </div>
    </footer>
</div>
{% endblock %}