{%extends "layout.html"%}
{% block body %}
<div class="d-flex flex-column" id="content-wrapper" style="background: rgba(248,249,252,0);">
    <div id="content" style="margin-left: 150px;background: rgb(236,255,176);">
        <h1 style="color: #5b618a;font-family: 'Bebas Neue', cursive;font-weight: bold;text-align: right;font-size: 119px;margin-top: 55px;margin-right: 65px;">PREOCCUPY</h1>
        <div class="container" style="padding: 35px;font-family: 'PT Sans', sans-serif;background: rgba(255,166,158,0.64);border-radius: 25px;margin-top: 35px;margin-bottom: 35px;">
            <h1 style="color: #5b618a;font-family: Alatsi, sans-serif;font-weight: bold;font-size: 50px;text-align: left;margin-left: 35px;margin-top: 25px;margin-bottom: 35px;">Today</h1>
        </div>
        <div class="container" style="padding: 35px;font-family: 'PT Sans', sans-serif;background: rgba(255,166,158,0.64);border-radius: 25px;margin-bottom: 35px;">
            <h1 style="color: #5b618a;font-family: Alatsi, sans-serif;margin-left: 35px;font-weight: bold;font-size: 50px;text-align: left;margin-top: 20px;margin-bottom: 35px;">This Week</h1>
        </div>
        <div class="container" style="padding: 35px;background: rgba(255,166,158,0.64);border-radius: 25px;margin-bottom: 35px;">
            <h1 style="margin-left: 35px;color: #5b618a;font-size: 50px;font-weight: bold;font-family: Alatsi, sans-serif;text-align: left;margin-top: 20px;margin-bottom: 35px;">Trends</h1>
            <div><canvas data-bs-chart="{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;January&quot;,&quot;February&quot;,&quot;March&quot;,&quot;April&quot;,&quot;May&quot;,&quot;June&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Revenue&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;4500&quot;,&quot;5300&quot;,&quot;6250&quot;,&quot;7800&quot;,&quot;9800&quot;,&quot;15000&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}"></canvas></div>
        </div>
    </div>
    <footer class="bg-white sticky-footer" style="margin-left: 200px;">
        <div class="container my-auto">
            <div class="text-center my-auto copyright" style="text-align: center;"><span style="color: rgb(45,200,200);text-align: center;">Copyright © Andreya Augst 2020</span></div>
        </div>
    </footer>
</div>
{% endblock %}